#Mon, 25 Mar 2013 11:19:39 +0530
app.name=DemoNavigation
app.framework=touch
app.classpath=${app.dir}/app.js,${app.dir}/app,${app.dir}/ux

app.cmd.version=3.1.0.256

app.build.dir=${workspace.build.dir}/${app.name}
app.id=792fc0cf-0f49-4c6d-acd5-8e9173065274
