.x-toolbar {
    padding: 0;
}
.x-toolbar .x-button {
    margin: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
    border-left: 1px solid #061f31;
}
.x-toolbar .x-button .x-button-icon.x-icon-mask{
    margin: 7px;
}

.x-toolbar .x-inner{
    display: block;
}
.x-input-el{
    background: #fff;
    border: #27C2DE 1px solid;
}
#ext-textfield-1{
    background: transparent;
}
#ext-textfield-1 .x-form-label{
    background: transparent;
}
#ext-element-45 {
    margin: 0 10%;
}
#ext-element-45 .x-button{
    -webkit-border-radius: 0;
    border-radius: 0;
}